<template>
  <v-col style="flex-grow:0;">
    <v-dialog v-model="uploadDialog" width="600" persistent>
      <template v-slot:activator="{ on }">
        <v-col>
          <v-btn v-on="on">Order with AOIs</v-btn>
        </v-col>
      </template>

      <v-card class="dialogWrapper">
        <v-container>
          <h3>Add Orders</h3>
          <div class="uploadBox" @drop.prevent="addFile" @dragover.prevent>
            <v-icon x-large class="upload-icon" color="grey lighten-1"
              >fas fa-upload</v-icon
            >

            <div class="hint">
              <span class="hint-title">Drag and Drop Your Files here</span>
              <span class="hint-detail">or browse your files</span>
            </div>

            <p class="hint-fineprint">Supported formats: .geojson .json</p>
          </div>
        </v-container>

        <v-card-actions>
          <p>{{ files.length }} files</p>
          <!-- <ul>
            <li v-for="file in files" :key="file.name">
              {{ file.name }}
              <v-btn text x-small @click="removeFile(file)" title="Remove">
                X
              </v-btn>
            </li>
          </ul> -->

          <v-spacer></v-spacer>
          <v-btn color="error" text @click="uploadDialog = false">Cancel</v-btn>
          <v-btn color="primary" text @click="submitFiles">Add Orders</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-col>
</template>

<script lang="ts">
import Vue from 'vue'
import { GeojsonOrder } from '@/models/TimahOrderClass'

export default Vue.extend({
  data() {
    return {
      files: [] as File[],
      geojsonOrders: [] as GeojsonOrder[],
      uploadDialog: false
    }
  },
  methods: {
    addFile(ev: any) {
      if (ev.dataTransfer.items) {
        // Use DataTransferItemList interface to access the file(s)
        for (let i = 0; i < ev.dataTransfer.items.length; i++) {
          // If dropped items aren't files, reject them
          if (ev.dataTransfer.items[i].kind === 'file') {
            const file = ev.dataTransfer.items[i].getAsFile()
            if (isValidInput(file.name)) {
              this.files.push(file)
            }
          }
          if (ev.dataTransfer.items[i].kind === 'directory') {
            console.log('fir')
          }
        }
      } else {
        // Use DataTransfer interface to access the file(s)
        for (let i = 0; i < ev.dataTransfer.files.length; i++) {
          const file = ev.dataTransfer.files[i]
          //   console.log(file.name + ' is ' + isValidInput(file.name))
        }
      }
    },
    removeFile(file: File) {
      const i = this.files.findIndex((f: File) => f.name == file.name)
      this.files.splice(i, 1)
    },
    submitFiles() {
      this.files.forEach(async (file: File) => {
        await this.readFile(file)
      })
      this.$emit('snack', this.files.length + ' order(s) loaded')
      this.uploadDialog = false
    },
    readFile(file: File) {
      const reader = new FileReader()
      reader.onload = e => {
        if (e.target) {
          const text = e.target.result as string
          const geojsonOrder: GeojsonOrder = JSON.parse(text)
          //   TO-DO: Verify that geojson content is valid with GeojsonOrder interface
          //   Make a banner that announces how many files opened, how many succeeded, how many failed
          //   console.log(geojsonOrder)
          this.$emit('add', geojsonOrder)
        }
      }
      reader.readAsText(file)
    }
  }
})

export function isValidInput(filename: string) {
  const parts = filename.split('.')
  const ext = parts[parts.length - 1]
  switch (ext.toLowerCase()) {
    case 'geojson':
    case 'json':
      return true
  }
  return false
}
</script>

<style lang="sass">
.dialogWrapper
  padding: 15px

.uploadBox
  width: 100%
  height: 250px
  border: 1px dashed gainsboro
  border-radius: 5px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  margin-top: 10px

.upload-icon
  margin: 40px

.hint
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 20px

.hint-title
  margin: 0
  font-size: 24px

.hint-detail
  margin: 0
  font-size: 16px
  color: grey

.hint-detail:hover
  cursor: pointer
  text-decoration: underline

.hint-fineprint
  font-size: 14px
  color: grey
</style>
