<template>
  <v-container style="height: 100%;">
    <v-row align="center" style="margin-bottom: 10px; ">
      <div class="tool-wrapper">
        <v-col>
          <h3>Order Previews</h3>
        </v-col>
        <OrderSettingsDialog />
      </div>
      <v-spacer />
      <div class="tool-wrapper">
        <v-text-field
          v-model="search"
          label="Search"
          single-line
          hide-details
          outlined
          rounded
          dense
        ></v-text-field>
        <DragAndDropDialog @add="processOrder" @snack="popSnack" />
        <v-col>
          <v-btn>+</v-btn>
        </v-col>
      </div>
    </v-row>

    <v-layout column class="table-wrapper">
      <v-flex style="overflow: auto">
        <v-data-table
          :headers="headers"
          :items="orderList"
          :search="search"
          disable-pagination
          :hide-default-footer="true"
          item-key="name"
          class="table-style"
        >
          <template v-slot:item.action="{ item }">
            <!-- <v-icon small class="mr-2" @click="editItem(item)" title="Edit Row">
              fas fa-edit
            </v-icon> -->
            <v-icon
              small
              @click="deleteItem(item)"
              title="Remove Row"
              class="removeIcon"
            >
              fas fa-trash-alt
            </v-icon>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-row align="center">
      <!-- <v-col>
        <v-btn icon>
          <v-icon>fas fa-cog</v-icon>
        </v-btn>
      </v-col> -->
      <v-spacer />
      <div class="tool-wrapper">
        <v-col>
          <v-btn @click="submitOrders">Submit Orders</v-btn>
        </v-col>
      </div>
    </v-row>

    <v-snackbar v-model="snackbar">
      {{ snackText }}
      <v-btn dark text @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import DragAndDropDialog from './DragAndDropDialog.vue'
import OrderSettingsDialog from './OrderSettingsDialog.vue'
import { sampleGeojson } from '../utils/orders'
import { generateOrders } from '../utils/orderGenerator'
import { TimahOrder, GeojsonOrder } from '@/models/TimahOrderClass'
import { createOrder } from '../utils/orderApi'

export default Vue.extend({
  name: 'NewOrderPage',
  created() {
    this.processOrder(sampleGeojson)
  },
  components: {
    DragAndDropDialog,
    OrderSettingsDialog
  },
  methods: {
    // editItem(item: TimahOrder) {
    // item.updateOrderName('yoohoo')
    // },
    deleteItem(item: TimahOrder) {
      const i = this.orderList.findIndex(order => {
        return (
          order.orderName === item.orderName && order.imageId === item.imageId
        )
      })
      this.orderList.splice(i, 1)
    },
    popSnack(text: string) {
      this.snackText = text
      this.snackbar = true
    },
    processOrder(order: GeojsonOrder) {
      this.orderList.push(...generateOrders(order))
    },
    submitOrders() {
      this.orderList.forEach(order => {
        createOrder(order.getPlanetOrder())
      })
      this.popSnack('Submitted ' + this.orderList.length + ' order(s)')
      this.orderList = []
    }
  },
  data: () => ({
    snackText: '',
    snackbar: false,
    search: '',
    headers: [
      { text: 'Order Name', value: 'orderName' },
      { text: 'Image ID', value: 'imageId' },
      { text: 'Image Date', value: 'imageDate' },
      { text: 'Clip Area', value: 'clipArea' },
      { text: '', value: 'action', sortable: false }
    ],
    // Maybe refactor orderGenerator by using factory model instead
    // Factory should initialize unique id, handles edit and delete
    orderList: [] as TimahOrder[]
  })
})
</script>

<style scoped>
.table-wrapper {
  max-height: calc(100vh - 210px);
  margin-bottom: 10px;
}
.tool-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.table-style {
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.removeIcon:hover {
  color: red;
}
</style>
