<template>
  <div>
    <v-dialog v-model="dialogStatus" width="600" persistent>
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" icon>
          <v-icon>fas fa-cog</v-icon>
        </v-btn>
      </template>

      <v-card class="dialogWrapper">
        <v-container>
          <h3>Order Settings</h3>
          <div class="formWrapper">
            <v-text-field
              v-model="apiKey"
              :disabled="!editApiKey"
              label="API Key"
              required
            ></v-text-field>
            <v-select
              v-model="itemType"
              :items="itemTypes"
              label="Item Type"
              required
            ></v-select>

            <v-select
              v-model="productBundle"
              :items="productBundles"
              label="Product Bundle"
              required
            ></v-select>
          </div>
        </v-container>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialogStatus = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  computed: {
    itemType: {
      get() {
        return this.$store.state.defaultItemType
      },
      set(val) {
        this.$store.dispatch('setItemType', val)
      }
    },
    apiKey: {
      get() {
        return this.$store.state.defaultApiKey
      },
      set(val) {
        this.$store.dispatch('setApiKey', val)
      }
    },
    productBundle: {
      get() {
        return this.$store.state.defaultProductBundle
      },
      set(val) {
        this.$store.dispatch('setProductBundle', val)
      }
    }
  },
  data() {
    return {
      dialogStatus: false,
      editApiKey: false,
      itemTypes: ['PSScene4Band', 'PSScene3Band'],
      productBundles: ['analytic', 'visual']
    }
  }
})
</script>

<style scoped>
.formWrapper {
  padding-top: 20px;
}
</style>
