<template>
  <v-container style="height: 100%;">
    <v-row align="center" style="margin-bottom: 10px;">
      <v-col cols="3">
        <h3>Past Orders</h3>
      </v-col>
      <v-spacer />
      <div class="tool-wrapper">
        <v-switch
          :value="groupedName"
          label="Group by Name"
          dense
          hide-details
          style="margin: 0 10px; padding: 0;"
          @change="changeGroup('name')"
        ></v-switch>
        <v-switch
          :value="groupedIds"
          label="Group by Ids"
          hide-details
          dense
          style="margin: 0 10px; padding: 0;"
          @change="changeGroup('item_ids')"
        ></v-switch>
        <v-text-field
          v-model="search"
          label="Search"
          single-line
          hide-details
          outlined
          rounded
          dense
        ></v-text-field>
      </div>
    </v-row>
    <v-layout column class="table-wrapper">
      <v-flex style="overflow: auto">
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="orders"
          :search="search"
          :options="tableOptions"
          disable-pagination
          :hide-default-footer="true"
          item-key="id"
          show-select
          class="table-style"
        >
          <template v-slot:item.order_date="{ item }">
            {{ item.order_date | dateName }}
          </template>
          <template v-slot:item.status="{ item }">
            <v-chip
              outlined
              small
              :color="item.status === 'success' ? 'green' : 'orange'"
            >
              {{ item.status | capitalize }}
            </v-chip>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="downloadItem(item.id)"
              title="Download"
            >
              fas fa-download
            </v-icon>
            <!-- <v-icon small class="mr-2"> fas fa-server </v-icon> -->
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { listOrders } from '../utils/orderApi'
import { sampleOrders } from '../utils/orders'
import dayjs from 'dayjs'

export default {
  async mounted() {
    const orders = await listOrders()
    const formatted = formatOrders(orders)
    // const formatted = formatOrders(sampleOrders.orders)
    this.orders = formatted
  },
  data: () => ({
    selected: [],
    search: '',
    groupedName: false,
    groupedIds: false,
    headers: [
      { text: 'Order Date', value: 'order_date' },
      { text: 'Order Name', value: 'name' },
      { text: 'Image ID', value: 'item_ids' },
      { text: 'Tools', value: 'tools' },
      { text: 'Status', value: 'status' },
      { text: '', value: 'action', sortable: false }
    ],
    groups: [],
    orders: []
  }),
  filters: {
    capitalize: function(value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    dateName: function(date) {
      return dayjs(date).format('DD/MM/YYYY, HH:mm')
    }
  },
  computed: {
    tableOptions() {
      return {
        groupBy: this.groups
      }
    }
  },
  methods: {
    changeGroup(group) {
      switch (group) {
        case 'name':
          this.groupedName = !this.groupedName
          if (this.groupedName) {
            this.groupedIds = false
            this.groups = [group]
          } else {
            this.groups = []
          }
          break
        case 'item_ids':
          this.groupedIds = !this.groupedIds
          if (this.groupedIds) {
            this.groupedName = false
            this.groups = [group]
          } else {
            this.groups = []
          }
          break
      }
    },
    downloadItem(id) {
      console.log('Donwload ' + id)
    }
  }
}

export function formatOrders(orders) {
  return orders.map(order => {
    return {
      id: order.id,
      name: order.name,
      item_ids: order.products[0].item_ids,
      item_type: order.products[0].item_type,
      order_date: order.created_on,
      status: order.state,
      tools: order.tools.map(t => Object.keys(t)[0])
    }
  })
}
</script>

<style scoped>
.table-wrapper {
  max-height: calc(100vh - 160px);
}
.tool-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.table-style {
  border: 1px solid gainsboro;
  border-radius: 5px;
}
</style>
