<template>
  <v-app>
    <v-content>
      <v-container class="single-page">
        <div class="nav-bar-wrapper">
          <v-tabs v-model="tab">
            <v-tab key="new">
              New Order
            </v-tab>
            <v-tab key="past">
              Past Orders
            </v-tab>
          </v-tabs>
        </div>
        <v-tabs-items v-model="tab">
          <v-tab-item key="new">
            <new-order-page />
          </v-tab-item>
          <v-tab-item key="past">
            <past-order-page />
          </v-tab-item>
        </v-tabs-items>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import NewOrderPage from './components/NewOrderPage.vue'
import PastOrderPage from './components/PastOrderPage.vue'

export default Vue.extend({
  name: 'App',

  components: {
    NewOrderPage,
    PastOrderPage
  },

  data: () => ({
    tab: 'new',
    showApiKey: false,
    apiKey: ''
  })
})
</script>

<style>
html,
body {
  overflow-y: hidden;
  height: 100vh;
}
.nav-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1185px;
  height: 50px;
}
.single-page {
  padding: 5px 0;
}
</style>
